.grid_flashsalesData_grid_setup {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 32px;
}
.plashsale_text_style_setup {
  color: #f85606;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f85606;
  font-family: "Oleo Script";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-items: center;
}
.plashsale_days_in_src_text_style {
  width: 55px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f85606;
}

.text_code_number {
  color: #fff;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
.text_titele_style_dignit_text {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.colon_style {
  color: #f85606;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.electronics_text_style {
  color: #f85606;
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.colthing_sports_tous_text_style {
  color: #000;
  font-family: "Inter";
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
