.grit_style{

    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.seller_footer_style{
  
max-width:  "full";
height: 120px;
padding: 24px 119.982px 25px 119px;
justify-content: center;
align-items: center;
flex-shrink: 0;
    background: linear-gradient(90deg, #FF5400 38.2%, rgba(255, 199, 0, 0.00) 191.51%);
}
.apple_playstore_logo_seller {
 width: 185px;
    height: 58px;
padding: 11px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
    border-radius: 6px;
    border: 1.5px solid #FFF;
}
.layer_logo_style{
    width: 86.167px;
height: 36px;
flex-shrink: 0;
color: #FFFFFFE5;

}
.download_text_style{
    color: rgba(255, 255, 255, 0.90);

/* 16 med */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.free_text{
    color: rgba(255, 255, 255, 0.90);

/* 18 semi */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.scren_style{
    width: 54px;
height: 54px;
flex-shrink: 0;
border-radius: 4px;
}
.svan_code_style{
    color: rgba(255, 255, 255, 0.80);

/* 12 med */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer_title-style{
    color: rgba(255, 255, 255, 0.90);
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}