.style_recentOrder_my_dash{
    margin-top: 10px !important;
margin: auto;
max-width:1820px;
padding: 40px 50px 0px 50px;
flex-direction: column;
justify-content: center;
align-items: center;

border-radius: 12px;
background: var(--White-A, #F7F7F7);

/* cart */
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}